* {
  padding: 0;
  margin: 0;
  text-decoration: none; }

.principal {
  background: #2b2d42;
  background: linear-gradient(90deg, #2b2d42 39%, #4e2c70 100%);
  display: grid;
  grid-template-columns: 1fr 1fr; }
